@model PerfectWorld.Data.Dtos.VMUsers
@{
    ViewData["Title"] = "Reset Password";
    Layout = "_LayoutLogin";

}
<div class="login-container">
    <h2>Gods.Perfect World</h2>
    <h4>Account: <strong>@Model.Usuario</strong></h4>
    <form asp-action="ResetMyPj" id="ResetFuego">
        <div class="inputBox">
            <input asp-for="Secret" hidden />


            <h5>New Password:</h5>
            <input autocomplete="off" type="text" asp-for="Contrasena" class="form-control" placeholder="Contraseña *" />


            <input type="submit" class="btnSubmit" value="Change" />

            
        </div>


    </form>
</div>