
@model PerfectWorld.Data.Dtos.VMUsers

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "_LayoutLogin";
}

<div class="login-container" style="background: #0d1822 !important;opacity:0.9 ">
    <h2>Gods.Perfect World</h2>
    <h4>Forgot Password</h4>
    <form asp-action="ForgotPassword" id="forgot">
        <div class="inputBox row">

            <input autocomplete="off" type="text" asp-for="Usuario" class="form-control" placeholder="User *" />

            <input autocomplete="off" type="email" asp-for="Correo" class="form-control" placeholder="E-mail *" />

        </div>
        <input type="submit" class="btnSubmit" value="Continue" />

    </form>
</div>

@section Scripts {
    <script src="~/js/Password/jquery.account.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

