@model PerfectWorld.Data.Dtos.VMLogin
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}
<div class="login-container" style=" ">
    <h2>Gods.Perfect World</h2>
    <h4>Sign in here</h4>
    <form id="loginform" method="post">
        <div class="inputBox">
            <input autocomplete="off" asp-for="Usuario" placeholder="User">
            <input asp-for="Contrasenia" type="password" placeholder="Password">
        </div>
        <input type="submit" name="" value="Login">
    </form>
    <a href="/Password/ForgotPassword">I've Forgot Password<br> </a>
    <div class="text-center">
    </div>
</div>
<script src="~/js/Login/jquery.account.login.js"></script>