
@{
    ViewData["Title"] = "Account";
    Layout = "_LayoutLogin";
}
<div class="login-container">
    <div class="row">
        <div class="col-md-12 login-form" style="border-radius:5px;text-align:center">
            <b class="text-success" style="font-size:500%"><i class="fa fa-check-circle-o" aria-hidden="true"></i></b> <h2 class="text-success">Your account was successfully saved.</h2>
            
            <h5 class="text-success">Your account is waiting for verification and validation.</h5>
            <h5 class="text-success">Check your email to finish the process!</h5>
            <hr />

        </div>


    </div>


</div>

