
@{
    ViewData["Title"] = "Perfect World";
    
    Layout = "_LayoutLogin";
}
<div class="login-container">
    <div class="row">
        <div class="col-md-12" style="border-radius:5px;text-align:center">
            <b class="text-success" style="font-size:500%"><i class="fa fa-check-circle-o" aria-hidden="true"></i></b> <h2 class="text-success">Your account was successfully validated.</h2>
            <hr />

            <h5 class="text-success">Welcome to our perfect world community..</h5>
            <hr />

        </div>


    </div>


</div>
